button{
padding: 0;
border: 0;
}  


.label-wrapper {
font-family: 'Baloo 2', sans-serif;
color: black;
align-items: center;
margin: 2%;
text-align: center;
}

.label-wrapper img {
width: 250px;
height: 250px;
padding: 0;
cursor: pointer;
border-radius: 10%;
}

.label-wrapper button{
width: 250px;
height: 250px;
cursor: pointer;
border-radius: 10%;
}

.label-wrapper span {
margin-top: 5px;
}

.container_domaine {
font-family: 'Baloo 2', sans-serif;
color: black;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-top : 5%;
}

@media (orientation: landscape){
  .container_domaine {
        font-family: 'Baloo 2', sans-serif;
        color: black;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-top : 5%;
      }
}

.card-body h2 {
  font-family: 'Roboto', sans-serif;
}

.card-body p {
  font-family: 'Roboto', sans-serif;
}
  
.h2-box {
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.5rem;
  color: black;
}
.btn-more {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}
.btn-more:hover {
  background-color: #0056b3;
}


.card-container {
  max-width: 100%;
}
.container_bis {
max-width: 100%;

}
.row {
max-width: 100%;
}

